<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAirportService" maxBufferSize="20000000"
                    maxReceivedMessageSize="20000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/AirportService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAirportService" contract="AirportClient.AirportService.IAirportService"
                name="BasicHttpBinding_IAirportService" />
        </client>
    </system.serviceModel>
</configuration>